html {
  font-size: 16px;
}

body {
  font-family: "Open-sans medium";
  color: $mainColor;
  font-size: $md;
  text-wrap: balance;
}

.container {
  max-width: torem(1200);
  width: 100%;
  margin: 0 auto;
  padding: 0 torem(50);

  @include sm-breakpoint {
    padding: 0 torem(20);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;
}

p {
  margin-top: 0;
}
