.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: torem(13) torem(23);
  border-radius: 42px;
  background: $mainColor;
  font-family: "Open-sans bold";
  font-size: torem(13);
  line-height: 1.37;
  color: $white;
  cursor: pointer;
}
