.article {
  .section {
    font-size: $lg;
    line-height: 1.33;

    &.top {
      padding: torem(55) 0 torem(48);
      background: radial-gradient(
          101.79% 48.18% at 52.92% 94.32%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #4f4f4f;

      h1 {
        font-size: torem(36);
        line-height: 1.14;
        color: $white;
        text-transform: uppercase;
      }
    }

    &.article-text {
      .wrapper {
        display: flex;
        flex-direction: column;
        gap: torem(32);
      }
    }

    &.article-title--blue {
      margin: torem(55) 0 torem(44);

      h2 {
        font-family: "Finlandica medium";
        font-size: torem(31);
        font-weight: 500;
        line-height: 1.14;
        color: $mainColor;
        text-transform: uppercase;
      }
    }

    &.article-box {
      margin-bottom: torem(55);

      .box {
        @include sectionShadow;

        display: flex;
        align-items: center;
        gap: torem(37);
        padding: torem(31) torem(34);

        &__image {
          flex: 0 1 22%;
        }

        &__text {
          flex: 1;
        }
      }
    }

    &.article-image-text {
      margin-bottom: torem(32);

      .wrapper {
        display: flex;
        align-items: center;
        gap: torem(30);

        .image {
          flex: 0 1 10%;
        }

        .text {
          font-family: "Open-sans bold";
          font-size: torem(24);
          line-height: 1.25;
          color: $mainColor;
        }
      }

      &--secondary {
        margin-bottom: torem(30);

        .wrapper {
          .text {
            color: $secondaryColor;
          }
        }
      }

      &--last {
        margin: torem(55) 0 torem(46);
      }
    }

    &.article-title--grey {
      .container {
        display: flex;
        flex-direction: column;
        gap: torem(20);
      }

      h2 {
        width: 45%;
        margin-top: torem(35);
        font-family: "Finlandica medium";
        font-size: torem(31);
        font-weight: 500;
        line-height: 1.14;
        color: $black;
        text-transform: uppercase;
        opacity: 0.8;
      }
    }

    &.article-list {
      ol {
        display: flex;
        flex-direction: column;
        gap: torem(10);
        margin-top: torem(24);
        padding-left: 0;

        li {
          font-family: "Open-sans bold";
        }

        p {
          margin-top: torem(30);
          margin-bottom: torem(18);
        }
      }

      ul {
        @include articleList;
      }
    }

    &.article-paragraph {
      margin-bottom: torem(46);
    }

    &.article-number {
      margin-bottom: torem(66);
      font-style: italic;
      opacity: 0.5;
    }

    &.article-subtitle {
      margin-bottom: torem(44);
      font-size: torem(24);
      line-height: 1.25;
      color: $mainColor;
    }

    &.article-box-list {
      margin-bottom: torem(44);

      .box {
        @include sectionShadow;

        padding: torem(31) torem(34);
        display: flex;
        gap: torem(37);

        &__image {
          flex: 0 1 10%;
        }

        &__content {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: torem(15);
          font-size: torem(18);
          line-height: 1.33;

          h3 {
            font-family: "Open-sans bold";
            font-size: torem(24);
            line-height: 1;
            color: $mainColor;
          }

          ul {
            @include articleList;

            gap: 0;

            li {
              &:not(:last-child) {
                margin-bottom: torem(22);
              }
            }

            p {
              margin-bottom: torem(15);
              margin-left: -36px;
              font-family: "Open-sans bold";
            }
          }
        }
      }
    }
  }

  &--mocha {
    .section {
      &.top {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/article/top-1-1.webp"),
            url("../images/article/top-1-2.webp"),
            url("../images/article/top-1-3.webp");
          background-position:
            48% bottom,
            52% bottom,
            65% bottom;
          background-repeat: no-repeat;
          background-size: torem(130) torem(100);
        }
      }
    }
  }

  &--creatine {
    .section {
      &.top {
        position: relative;
        background: radial-gradient(
            101.79% 48.18% at 52.92% 94.32%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #4358c1;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/article/top-2-1.webp"),
            url("../images/article/top-2-2.svg"),
            url("../images/article/top-2-3.webp");
          background-position:
            48% bottom,
            62% center,
            65% bottom;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      &.article-image-text--secondary {
        margin-top: torem(44);
      }
    }
  }
}
