.article {
  .section {
    font-size: $lg;
    line-height: 1.33;

    @include sm-breakpoint {
      font-size: $md;
    }

    &.top {
      padding: torem(55) 0 torem(48);
      background: radial-gradient(
          101.79% 48.18% at 52.92% 94.32%,
          rgba(255, 255, 255, 0.3) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #4f4f4f;

      h1 {
        font-size: torem(36);
        line-height: 1.14;
        color: $white;
        text-transform: uppercase;
      }

      @include sm-breakpoint {
        padding: torem(44) 0 torem(38);

        h1 {
          font-size: torem(26);
        }
      }
    }

    &.article-text {
      .wrapper {
        display: flex;
        flex-direction: column;
        gap: torem(32);

        @include sm-breakpoint {
          gap: torem(20);
        }
      }
    }

    &.article-title--blue {
      margin: torem(55) 0 torem(44);

      h2 {
        font-family: "Finlandica medium";
        font-size: torem(31);
        font-weight: 500;
        line-height: 1.14;
        color: $mainColor;
        text-transform: uppercase;
      }

      @include sm-breakpoint {
        margin: torem(44) 0 torem(38);

        h2 {
          font-size: torem(26);
        }
      }
    }

    &.article-title--red {
      margin: torem(55) 0 torem(44);

      h2 {
        font-family: "Finlandica medium";
        font-size: torem(31);
        font-weight: 500;
        line-height: 1.14;
        color: $red;
        text-transform: uppercase;
      }

      @include sm-breakpoint {
        margin: torem(44) 0 torem(38);

        h2 {
          font-size: torem(26);
        }
      }
    }

    &.article-box {
      margin-bottom: torem(55);

      .box {
        @include sectionShadow;

        display: flex;
        align-items: center;
        gap: torem(37);
        padding: torem(31) torem(34);

        &__image {
          flex: 0 1 22%;
        }

        &__text {
          flex: 1;
        }

        @include sm-breakpoint {
          flex-direction: column;
          gap: torem(20);
          padding: torem(24) torem(28);
        }
      }

      &--blue {
        margin-top: torem(44);

        .wrapper {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: torem(55);
          padding: torem(31) torem(34);
          border-radius: 18px;
          background: $mainColor;
          box-shadow: 0px 0px 17.455px 0px rgba(0, 0, 0, 0.25);
          color: $white;

          h2 {
            font-family: "Finlandica medium";
            font-size: torem(31);
            line-height: 1.14;
            font-weight: 500;
            color: $white;
            text-transform: uppercase;
          }

          &__items {
            display: flex;
            flex-direction: column;
            gap: torem(20);
            font-family: "Open-sans bold";
            font-size: torem(18);
            line-height: 1.33;

            .item {
              display: flex;
              align-items: center;
              gap: torem(37);

              img {
                flex: 0 1 10%;
                width: torem(80);
                object-fit: contain;
              }
            }
          }

          &__buttons {
            display: flex;
            gap: torem(26);
          }

          &__list {
            @include articleList;

            gap: 0;

            li {
              &:not(:last-child) {
                margin-bottom: torem(22);
              }

              &::marker {
                color: #f7a54c;
              }
            }

            p {
              margin-bottom: torem(15);
              margin-left: -36px;
              font-family: "Open-sans bold";
            }
          }
        }

        &.narrow {
          margin-bottom: torem(44);

          .wrapper {
            gap: torem(33);
            padding: torem(31) torem(34) torem(55);
          }
        }
      }

      @include sm-breakpoint {
        margin-bottom: torem(34);

        .box {
          flex-direction: column;
          gap: torem(20);
          padding: torem(22) torem(26);

          &__image {
            flex: 0 1 100%;
          }

          @include sm-breakpoint {
            flex-direction: column;
            gap: torem(20);
            padding: torem(24) torem(28);
          }
        }

        &--blue {
          margin-top: torem(30);

          .wrapper {
            gap: torem(30);
            padding: torem(24) torem(28);

            h2 {
              font-size: torem(26);
            }

            &__items {
              gap: torem(10);
              font-size: $md;

              .item {
                flex-direction: column;
                gap: torem(20);

                img {
                  flex: 0 1 100%;
                  width: torem(60);
                }
              }
            }

            &__buttons {
              flex-direction: column;
              gap: torem(16);
              width: 100%;
            }

            &__list {
              li {
                &:not(:last-child) {
                  margin-bottom: torem(16);
                }
              }

              p {
                margin-bottom: torem(10);
                margin-left: -26px;
              }
            }
          }

          &.narrow {
            margin-bottom: torem(30);

            .wrapper {
              gap: torem(20);
              padding: torem(20) torem(24) torem(44);
            }
          }
        }
      }
    }

    &.article-image-text {
      margin-bottom: torem(32);

      .wrapper {
        display: flex;
        align-items: center;
        gap: torem(30);

        .image {
          flex: 0 1 10%;
          min-width: torem(88);
        }

        .text {
          font-family: "Open-sans bold";
          font-size: torem(24);
          line-height: 1.25;
          color: $mainColor;
        }
      }

      &--secondary {
        margin-bottom: torem(30);

        .wrapper {
          .text {
            color: $secondaryColor;
          }
        }
      }

      &--last {
        margin: torem(55) 0 torem(46);
      }

      &--red {
        .wrapper {
          .text {
            color: $red;
          }
        }
      }

      @include sm-breakpoint {
        margin-bottom: torem(20);

        .wrapper {
          flex-direction: column;
          gap: torem(20);

          .image {
            flex: 0 1 100%;
            min-width: torem(60);
          }

          .text {
            font-size: $lg;
          }
        }

        &--secondary {
          margin-bottom: torem(20);
        }

        &--last {
          margin: torem(32) 0 torem(26);
        }
      }
    }

    &.article-title--grey {
      .container {
        display: flex;
        flex-direction: column;
        gap: torem(20);
      }

      h2 {
        width: 45%;
        margin-top: torem(35);
        font-family: "Finlandica medium";
        font-size: torem(31);
        font-weight: 500;
        line-height: 1.14;
        color: $black;
        text-transform: uppercase;
        opacity: 0.8;
      }

      &--block {
        .container {
          display: flex;
          gap: torem(20);

          h2 + p {
            font-size: torem(24);
          }

          h4 {
            font-family: "Open-sans bold";
            font-size: torem(18);
          }

          ol {
            @include articleList;

            margin: 0;
            padding-left: torem(20);
            list-style-type: decimal;

            li {
              list-style-type: decimal;

              &::marker {
                font-family: "Open-sans bold";
                font-size: torem(18);
              }
            }
          }

          ul {
            @include articleList;

            display: flex;
            flex-direction: column;
            gap: torem(20);
            margin-top: torem(30);

            p {
              margin-left: -36px;
            }
          }
        }
      }

      @include sm-breakpoint {
        .container {
          gap: torem(10);
        }

        h2 {
          width: 100%;
          margin-top: torem(20);
          font-size: torem(24);
        }

        &--block {
          .container {
            display: flex;
            flex-direction: column;
            gap: torem(10);

            h2 + p {
              font-size: $lg;
            }

            h4 {
              font-size: $md;
            }

            ol {
              padding-left: torem(16);

              li {
                &::marker {
                  font-size: torem(14);
                }
              }
            }

            ul {
              gap: torem(10);
              margin-top: torem(20);

              p {
                margin-left: -26px;
              }
            }
          }
        }
      }
    }

    &.article-list {
      .container {
        > p {
          margin: torem(30) 0;
          font-family: "Open-sans bold";
          font-size: torem(18);
        }
      }

      ol {
        display: flex;
        flex-direction: column;
        gap: torem(10);
        margin-top: torem(24);
        padding-left: 0;

        li {
          font-family: "Open-sans bold";
        }

        p {
          margin-top: torem(30);
          margin-bottom: torem(18);
        }
      }

      ul {
        @include articleList;
      }

      &--red {
        ul {
          li {
            &::marker {
              color: $red;
            }
          }
        }
      }

      @include sm-breakpoint {
        .container {
          > p {
            margin: torem(20) 0;
            font-size: $md;
          }
        }

        ol {
          gap: torem(6);
          margin-top: torem(16);

          p {
            margin-top: torem(20);
            margin-bottom: torem(14);
          }
        }
      }
    }

    &.article-paragraph {
      margin-bottom: torem(46);

      @include sm-breakpoint {
        margin-bottom: torem(30);
      }
    }

    &.article-number {
      margin-bottom: torem(66);
      font-style: italic;
      opacity: 0.5;

      @include sm-breakpoint {
        margin-bottom: torem(46);
      }
    }

    &.article-subtitle {
      margin-bottom: torem(44);
      font-size: torem(24);
      line-height: 1.25;
      color: $mainColor;

      @include sm-breakpoint {
        margin-bottom: torem(30);
        font-size: $lg;
      }
    }

    &.article-box-list {
      margin-bottom: torem(44);

      .box {
        @include sectionShadow;

        padding: torem(31) torem(34);
        display: flex;
        gap: torem(37);

        &__image {
          flex: 0 1 10%;
        }

        &__content {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: torem(15);
          font-size: torem(18);
          line-height: 1.33;

          h3 {
            font-family: "Open-sans bold";
            font-size: torem(24);
            line-height: 1;
            color: $mainColor;
          }

          ul {
            @include articleList;

            gap: 0;

            li {
              &:not(:last-child) {
                margin-bottom: torem(22);
              }
            }

            p {
              margin-bottom: torem(15);
              margin-left: -36px;
              font-family: "Open-sans bold";
            }
          }
        }
      }

      &.big {
        .box {
          &__image {
            flex: 0 1 32%;
          }
        }
      }

      @include sm-breakpoint {
        .box {
          padding: torem(24) torem(26);
          display: flex;
          flex-direction: column;
          gap: torem(20);

          &__image {
            flex: 0 1 100%;
          }

          &__content {
            gap: torem(10);
            font-size: $md;

            h3 {
              font-size: $lg;
            }

            ul {
              li {
                &:not(:last-child) {
                  margin-bottom: torem(14);
                }
              }

              p {
                margin-bottom: torem(10);
                margin-left: -26px;
              }
            }
          }
        }

        &.big {
          .box {
            &__image {
              flex: 0 100%;
            }
          }
        }
      }
    }

    &.article-table {
      margin-bottom: torem(55);

      .wrapper {
        @include sectionShadow;
        padding: torem(31) torem(34);
      }

      table {
        border-collapse: collapse;
        width: 100%;

        td,
        th {
          border: 1px solid #bcbcbc;
          padding: torem(15);
        }

        th {
          background: $grey;
          font-family: "Open-sans bold";
        }

        tr {
          td {
            &:nth-child(3),
            &:nth-child(4) {
              width: 15%;
              text-align: center;
            }

            a {
              display: block;
              font-family: "Open-sans bold";
              color: $mainColor;
            }
          }
        }
      }

      &--second {
        table {
          tr {
            td {
              &:nth-child(2),
              &:nth-child(3) {
                width: auto;
                text-align: center;
              }

              &:nth-child(4) {
                width: 35%;
              }
            }
          }
        }
      }
    }
  }

  &--mocha {
    .section {
      &.top {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/article/top-1-1.webp"),
            url("../images/article/top-1-2.webp"),
            url("../images/article/top-1-3.webp");
          background-position:
            48% bottom,
            52% bottom,
            65% bottom;
          background-repeat: no-repeat;
          background-size: torem(130) torem(100);
        }
      }
    }
  }

  &--creatine {
    .section {
      &.top {
        position: relative;
        background: radial-gradient(
            101.79% 48.18% at 52.92% 94.32%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #4358c1;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/article/top-2-1.webp"),
            url("../images/article/top-2-2.svg"),
            url("../images/article/top-2-3.webp");
          background-position:
            48% bottom,
            62% center,
            65% bottom;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      &.article-image-text--secondary {
        margin-top: torem(44);
      }

      &.article-title--grey {
        h2 {
          width: 50%;
        }
      }

      @include sm-breakpoint {
        &.article-image-text--secondary {
          margin-top: torem(30);
        }

        &.article-title--grey {
          h2 {
            width: 100%;
          }
        }
      }
    }
  }

  &--drugie {
    .section {
      &.top {
        background: radial-gradient(
            101.79% 48.18% at 52.92% 94.32%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #db790f;

        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url("../images/article/top-1-1.webp"),
            url("../images/article/top-1-2.webp");
          background-position:
            62% bottom,
            66% bottom;
          background-repeat: no-repeat;
          background-size: torem(130) torem(100);
        }
      }

      &.article-subtitle {
        font-family: "Open-sans regular";
        color: $black;
      }

      &.article-title--blue {
        margin-bottom: torem(35);
      }

      &.article-image-text--secondary {
        margin-top: torem(44);
      }

      @include sm-breakpoint {
        &.article-title--blue {
          margin-bottom: torem(20);
        }

        &.article-image-text--secondary {
          margin-top: torem(30);
        }
      }
    }
  }

  &--normi {
    .section {
      &.top {
        background: radial-gradient(
            101.79% 48.18% at 52.92% 94.32%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #828282;

        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background:
            url("../images/article/top-1-2.webp") 72% bottom/5% no-repeat,
            url("../images/article/article-normi-1.webp") 68% bottom/4%
              no-repeat;
        }
      }

      &.article-title--blue {
        &.first {
          margin-top: 0;
        }
      }

      &.article-image-text--red {
        margin-top: torem(47);
        margin-bottom: torem(55);
      }

      &.article-title--grey {
        h2 {
          width: 100%;
        }
      }

      &.article-image-text {
        &.last {
          margin-top: torem(44);

          .text {
            font-family: "Open-sans regular";

            strong {
              display: block;
            }
          }
        }
      }

      @include sm-breakpoint {
        &.article-image-text--red {
          margin-top: torem(32);
          margin-bottom: torem(37);
        }

        &.article-image-text {
          &.last {
            margin-top: torem(30);
          }
        }
      }
    }
  }

  &--biopsiya {
    .section {
      &.top {
        background: radial-gradient(
            101.79% 48.18% at 52.92% 94.32%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 100%
          ),
          #4358c0;

        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: url("../images/article/article-biopsiya-1.webp") 62%
            bottom/14% no-repeat;
        }
      }

      &.article-subtitle {
        color: $black;

        &--blue {
          color: $mainColor;
        }
      }

      &.article-image-text {
        margin-top: torem(32);

        .wrapper {
          .text {
            font-family: "Open-sans regular";
          }
        }
      }

      &.article-number {
        margin-top: torem(30);
      }

      @include sm-breakpoint {
        &.article-image-text {
          margin-top: torem(20);
        }

        &.article-number {
          margin-top: torem(20);
        }
      }
    }
  }

  &--money {
    .section {
      &.top {
        padding: torem(30) 0;

        &:before {
          content: "";

          background: url("../images/article/article-skolko-stoit.webp") 62%
            bottom/14% no-repeat;
        }

        h1 {
          width: 50%;
        }
      }

      &.article-subtitle {
        p {
          strong {
            display: block;
          }
        }
      }

      &.article-image-text {
        &--secondary {
          .wrapper {
            .text {
              font-family: "Open-sans bold";
            }
          }
        }
      }
    }
  }
}
