.footer {
  padding: torem(36) 0 torem(48);
  background: $black;

  .wrapper {
    display: flex;
    gap: torem(50);

    @include sm-breakpoint {
      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: torem(22);
      font-size: $sm;
      line-height: 1.37;
      color: $white;

      &:first-child {
        max-width: torem(285);
      }

      &:last-child {
        flex: 1;
        align-items: flex-end;
        justify-content: flex-end;

        @include sm-breakpoint {
          align-items: flex-start;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: torem(6);

      a {
        color: $white;
      }
    }
  }
}
