.section {
  &.hbp {
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: torem(33);
      padding: torem(31) torem(34);
      border-radius: 18px;
      background: $black;
      box-shadow: 0px 0px 17.455px 0px rgba(0, 0, 0, 0.25);

      h2 {
        font-family: "Open-sans bold";
        font-size: torem(24);
        line-height: 1;
        color: $white;
        text-align: center;
      }

      .items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: torem(30);
        padding-bottom: torem(50);
        border-bottom: 2px solid $grey;
        font-size: $lg;
        line-height: 1.07;
        color: $white;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          gap: torem(10);
        }
      }

      &__items {
        display: flex;
        align-items: flex-start;
        gap: torem(20);
        font-family: "Open-sans regular";
        font-size: $lg;
        font-style: italic;
        line-height: 1.22;
        color: $white;
        text-wrap: pretty;

        .button {
          flex: 0 1 26%;
          font-style: normal;
        }
      }
    }
  }
}
