.section {
  &.knowledge {
    padding: torem(52) 0;
    background: radial-gradient(
        151.35% 47.47% at 50% 56.37%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #4358c0;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: torem(36);

      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: torem(8);
        max-width: torem(815);
        font-size: torem(24);
        line-height: 1.25;
        text-align: center;
        color: $white;
      }

      .buttons {
        display: flex;
        gap: torem(26);
      }

      .more {
        display: flex;
        align-items: center;
        gap: torem(14);
        font-size: $md;
        color: $white;
        line-height: 1.2;

        img {
          width: torem(31);
          height: torem(35);
          object-fit: contain;
        }

        p {
          max-width: torem(200);
        }
      }
    }

    h2 {
      padding: torem(4) torem(5);
      background: $white;
      font-family: "Finlandica medium";
      font-size: $xl;
      font-weight: 500;
      line-height: 1.14;
      text-transform: uppercase;
      color: $mainColor;
    }

    p {
      font-family: "Open-sans regular", sans-serif;
      font-size: torem(24);
    }

    @include sm-breakpoint {
      padding: torem(36) 0;

      .wrapper {
        gap: torem(20);

        .text {
          max-width: unset;
          font-size: torem(18);
        }

        .buttons {
          gap: torem(18);
        }

        .more {
          gap: torem(10);
          font-size: $sm;

          p {
            max-width: unset;
          }
        }
      }

      h2 {
        font-size: $lg;
      }
    }
  }
}
