.podozreniya {
  .hero {
    padding: torem(128) 0 torem(116);
    background: radial-gradient(
        101.79% 48.18% at 52.92% 94.32%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #db790f;

    &:after {
      background-image: image-set(
        url("../images/podozreniya/hero.webp") 1x,
        url("../images/podozreniya/hero-2x.webp") 2x
      );

      background-position: 66% bottom;
    }
  }
}
