.section {
  &.table {
    .wrapper {
      @include sectionShadow;

      display: flex;
      flex-direction: column;
      gap: torem(33);
      padding: torem(31) torem(34);

      &__items {
        display: flex;
        flex-direction: column;
      }

      .table__item {
        flex: 1;
        display: flex;
        align-items: center;
        gap: torem(33);
        padding: torem(45) 0;
        border-bottom: 1px solid $grey;

        &:first-child {
          padding-top: 0;
        }

        h3 {
          flex: 1;
          font-size: torem(20);
          letter-spacing: 0.5px;
          color: $mainColor;

          &:first-child {
            flex: 0 1 20%;
          }

          &:nth-child(2) {
            flex-grow: 1.5;
          }
        }

        .item {
          flex: 1;
          display: flex;
          align-items: center;
          gap: torem(14);
          font-size: $lg;
          line-height: 1.33;

          &:first-child {
            flex: 0 1 20%;
          }

          picture,
          img {
            width: torem(62);
            height: torem(82);
            object-fit: contain;
          }

          &:nth-child(2) {
            flex-grow: 1.5;
            flex-direction: column;
            align-items: flex-start;
            gap: torem(22);
          }
        }
      }

      @include sm-breakpoint {
        gap: torem(20);
        padding: torem(20) torem(24);
        overflow-x: auto;

        .table__item {
          gap: torem(20);
          padding: torem(25) 0;

          h3 {
            font-size: $md;
          }

          .item {
            gap: torem(10);
            font-size: $sm;

            &:first-child {
              flex: 0 1 25%;
              flex-direction: column;
              align-items: flex-start;
            }

            picture,
            img {
              width: torem(50);
              height: torem(62);
            }

            &:nth-child(2) {
              gap: torem(16);
            }
          }
        }
      }
    }
  }
}
