.subtitle {
  padding: torem(55) 0;
  text-transform: uppercase;

  h2 {
    font-family: "Finlandica medium";
    font-size: $xl;
    color: $black;
    font-weight: 500;
    opacity: 0.8;
    text-wrap: pretty;
  }

  .wrapper {
    width: 50%;
    text-wrap: pretty;
  }
}
