.tabs {
  margin-bottom: torem(20);
  font-size: 1.25rem;

  > div {
    [role="tablist"] {
      display: flex;
      justify-content: space-between;
      gap: 2.5px;
    }

    [role="tabpanel"] {
      position: relative;
      z-index: 1;
      padding: torem(35) torem(16) torem(60);
      background-color: $white;
      border-radius: 20px;
      transform: translateY(-20px);
      box-shadow: 0px 0px 17.455px 0px rgba(0, 0, 0, 0.25);

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        padding-left: 2.25rem;
        list-style-type: disc;

        li {
          font-size: 1.25rem;
          line-height: 1.25;
          list-style-type: initial;

          &::marker {
            font-size: 1.5rem;
            color: $red;
          }
        }
      }
    }
  }

  button {
    flex: 1;
    padding: torem(17) torem(10) torem(40);
    background: #dce1e0;
    border: none;
    border-radius: 20px 20px 0 0;
    font-size: torem(24);
    font-weight: 700;
    color: #000;
    cursor: pointer;

    &[aria-selected="true"] {
      background: #455ac2;
      color: $white;
    }

    &:first-child {
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      border-bottom-right-radius: 20px;
    }
  }

  .container {
    > p {
      margin-bottom: torem(30);

      span {
        font-size: torem(24);
        font-weight: 700;
        text-transform: uppercase;

        &.red {
          font-size: torem(20);
          color: $red;
        }
      }

      &.thin {
        font-family: "Open-sans regular";
      }
    }
  }

  &--simptoms {
    > div {
      [role="tabpanel"] {
        > ul {
          margin-top: torem(16);

          li {
            text-transform: lowercase;
          }
        }
      }
    }
  }

  @include sm-breakpoint {
    margin-bottom: torem(16);
    font-size: $lg;

    > div {
      [role="tablist"] {
        gap: 2px;
      }

      [role="tabpanel"] {
        padding: torem(25) torem(12) torem(38);
        border-radius: 16px;
        transform: translateY(-14px);

        ul {
          gap: 0.5rem;
          padding-left: 1.875rem;

          li {
            font-size: $md;

            &::marker {
              font-size: $md;
            }
          }
        }
      }
    }

    button {
      padding: torem(12) torem(6) torem(26);
      border-radius: 16px 16px 0 0;
      font-size: $lg;

      &:first-child {
        border-bottom-left-radius: 14px;
      }

      &:last-child {
        border-bottom-right-radius: 14px;
      }
    }

    .container {
      > p {
        margin-bottom: torem(22);

        span {
          font-size: $lg;

          &.red {
            font-size: $md;
          }
        }
      }
    }

    &--simptoms {
      > div {
        [role="tabpanel"] {
          > ul {
            margin-top: torem(12);
          }
        }
      }
    }
  }

  @media screen and (max-width: 586px) {
    margin-bottom: torem(12);
    font-size: $md;

    > div {
      [role="tabpanel"] {
        padding: torem(18) torem(10) torem(28);
        border-radius: 12px;
        transform: translateY(-12px);

        ul {
          gap: 0.25rem;
          padding-left: 1.5rem;

          li {
            font-size: $sm;

            &::marker {
              font-size: $sm;
            }
          }
        }
      }
    }

    button {
      padding: torem(8) torem(4) torem(18);
      border-radius: 12px 12px 0 0;
      font-size: $sm;
      word-break: break-all;

      &:first-child {
        border-bottom-left-radius: 12px;
      }

      &:last-child {
        border-bottom-right-radius: 12px;
      }
    }

    .container {
      > p {
        margin-bottom: torem(16);

        span {
          font-size: $md;

          &.red {
            font-size: $sm;
          }
        }
      }
    }

    &--simptoms {
      > div {
        [role="tabpanel"] {
          > ul {
            margin-top: torem(8);
          }
        }
      }
    }
  }
}
