.title-description {
  padding: torem(44) 0 torem(5);

  .wrapper {
    display: flex;
    flex-direction: column;

    h2 {
      width: 50%;
      margin: torem(30) 0;
      font-family: "Finlandica medium";
      font-size: $xl;
      line-height: 1.11;
      color: $red;
      font-weight: 500;
      opacity: 0.8;
      text-transform: uppercase;

      span {
        text-transform: lowercase;
      }
    }

    > p {
      margin-bottom: torem(40);
      font-size: torem(20);
      line-height: 1.25;
      color: $black;
    }

    .block {
      @include sectionShadow;

      display: flex;
      flex-direction: column;
      gap: torem(22);
      padding: torem(32) torem(34);

      &__content {
        display: flex;
        padding-bottom: torem(35);
        border-bottom: 2px solid $grey;

        h3 {
          font-family: "Open-sans bold";
          font-size: torem(24);
          line-height: 1;
        }

        p {
          font-size: torem(20);
          line-height: 1.25;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: torem(14);
          padding-left: torem(36);
          list-style-type: disc;

          p {
            margin-left: torem(-36);
          }

          li {
            font-size: torem(20);
            line-height: 1.25;
            list-style-type: initial;

            &::marker {
              font-size: torem(24);
              color: $red;
            }
          }
        }

        .item {
          &:first-child {
            flex: 0 1 70%;
            display: flex;
            flex-direction: column;
            gap: torem(35);
          }

          &:last-child {
            flex: 0 1 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: torem(10);
            padding-top: torem(30);

            p {
              font-size: $lg;
              text-align: center;
              font-style: italic;
            }
          }
        }

        &--images {
          .item {
            &:first-child {
              flex: 0 1 40%;
            }

            &:last-child {
              flex: 0 1 60%;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: torem(20);
            }
          }
        }
      }

      &__last {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: torem(20);
        font-family: "Open-sans regular";
        font-size: $lg;
        font-style: italic;
        line-height: 1.22;
        text-wrap: pretty;

        .button {
          flex: 0 1 26%;
          font-style: normal;
        }

        @include sm-breakpoint {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__bottom {
        display: flex;
        align-items: flex-start;
        gap: torem(20);
        font-family: "Open-sans regular";
        font-size: $lg;
        font-style: italic;
        line-height: 1.22;
        text-wrap: pretty;

        .button {
          flex: 0 1 26%;
          font-style: normal;
        }
      }
    }
  }

  @include sm-breakpoint {
    padding: torem(24) 0 torem(5);

    .wrapper {
      h2 {
        width: 100%;
        margin: torem(20) 0;
        font-size: $lg;
      }

      > p {
        margin-bottom: torem(24);
        font-size: $md;
      }

      .block {
        gap: torem(16);
        padding: torem(24) torem(28);

        &__content {
          flex-direction: column-reverse;
          gap: torem(20);
          padding-bottom: torem(20);

          h3 {
            font-size: $lg;
          }

          p {
            font-size: $md;
          }

          ul {
            gap: torem(10);
            padding-left: torem(20);

            p {
              margin-left: torem(-26);
            }

            li {
              font-size: $md;
              line-height: 1.25;
              list-style-type: initial;

              &::marker {
                font-size: torem(18);
                color: $red;
              }
            }
          }

          .item {
            &:first-child {
              flex: 0 1 100%;
              gap: torem(20);
            }

            &:last-child {
              flex: 0 1 100%;
              padding-top: torem(18);
            }
          }

          &--images {
            flex-direction: column;

            .item {
              &:first-child {
                flex: 0 1 100%;
              }

              &:last-child {
                flex: 0 1 100%;
                align-items: center;
                gap: torem(10);

                img {
                  max-width: torem(50);

                  &:nth-child(even) {
                    max-width: torem(20);
                  }
                }
              }
            }
          }
        }

        &__bottom {
          gap: torem(10);
          font-size: $md;

          .button {
            flex: 0 1 100%;
          }
        }
      }
    }
  }
}

.title-description:has(+ .info) {
  padding-bottom: torem(66);

  @include sm-breakpoint {
    padding-bottom: torem(44);
  }
}
